<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="6.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Fody" version="6.9.2" targetFramework="net48" developmentDependency="true" />
  <package id="Guna.UI2.WinForms" version="2.0.4.7" targetFramework="net48" />
  <package id="HidSharp" version="2.1.0" targetFramework="net48" />
  <package id="LibreHardwareMonitorLib" version="0.9.4" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="NHotkey" version="3.0.0" targetFramework="net48" />
  <package id="NHotkey.WindowsForms" version="3.0.0" targetFramework="net48" />
  <package id="OpenHardwareMonitor" version="0.9.6" targetFramework="net48" />
  <package id="OpenHardwareMonitorLib" version="1.0.9270" targetFramework="net48" />
  <package id="SharpDX" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.Direct2D1" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net48" />
  <package id="System.CodeDom" version="9.0.6" targetFramework="net48" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.IO.Ports" version="9.0.4" targetFramework="net48" />
  <package id="System.Management" version="9.0.6" targetFramework="net48" />
  <package id="System.Runtime.WindowsRuntime" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
</packages>